/* here you can put your own css to customize and override the theme */
/*----------------------------------------------------------------------------------*/
/*---------------------------start login style------------------------------*/
.login-container{
	width: 60%;
	margin: auto;
	padding-top:10%;
}
.login-container .portlet.light{text-align:center;}
.login-container .portlet.light.bordered>.portlet-title{
	width:70%;
	margin:auto;}

.login-container .portlet.light>
.portlet-title>.caption{float:none;}
.login-container .portlet.light>
.portlet-title>.caption img{width:100%;}
.form-group{overflow:hidden;margin:10px 0;}
.login-container .portlet.light.bordered>
.portlet-body .form-actions .btn
{padding:6px 20px 10px; margin-bottom:20px;}
/*---------------------------End login style----------------------*/
/*----------------------main rules-----------------------*/
body{background-color: #00555D;}      /*previuos color: #00838F;*/
/*----header style-----------------------------------------------*/
.page-header .navbar .search .btn > i{color: #00838f;}
.page-header .navbar .search .form-control{background-color:rgba(249, 249, 249, 0.4);}
.page-header .navbar .search 
.form-control::-moz-placeholder{color: #00838f;}
.page-header .navbar .topbar-actions
 .btn-group-img .btn{background-color:#00555D;
 }
 .page-header .navbar-collapse {margin-top: 60px;}
 .page-header .navbar-fixed-top {
 		padding: 12px 25px;
 		background-color:#00555D;}
 .page-header .navbar .topbar-actions
  .btn-group-img .btn span{color: #f9f9f9;}
  .page-header .navbar .navbar-nav li.open:hover>a, .page-header 
  .navbar .navbar-nav li.open>a{color: #d02e2e;}
/*centered tabs*/
#centeredmenu {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   
}
#centeredmenu ul li a:hover {

}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   }

/*centered tabs*/  
/*--------------------start navbar style------------------------*/
.page-header .navbar .navbar-toggle .icon-bar{
	background-color: #45b6af;
}
.nav-tabs{border-bottom:none;
margin-bottom:0px;}
.page-header .nav-collapse .navbar-nav > li {border-top:none;}
.page-header .navbar .navbar-nav > li > a{padding:12px 45px;}
.page-header .navbar .navbar-nav>li>a
{background-color: #1BA39C;color: #fff; width: 222px;}
.page-header .navbar .navbar-nav>li>a:hover
{background-color:#44b6ae;}

/*---------------End navbar style-----------------------*/
/*------------page content style------------------------*/
.page-content{width: 98%;
padding-top: 8px;
background-color: #f9f9f9;
}
.portlet.light{
		padding: 5px 20px 5px;
	}
.portlet.light > .portlet-title > 
.caption > .caption-subject {font-size: 14px;}
.portlet.light.bg-inverse{background:rgba(69, 182, 175, 0.05);}
.portlet>.portlet-title
{border-bottom:1px solid rgba(68, 182, 174, 0.22);
 margin-bottom:0px;}
.light-bordered1{
	    border: 1px solid rgba(0, 85, 93, 0.39);
}
.light-bordered2{color: rgba(0, 85, 93, 0.71)}
.portlet.light.bordered label{
	color: rgba(0, 85, 93, 0.71);
}
.portlet{margin-bottom: 10px;}
.portlet.light > .portlet-body{
	   width: 90%;
	   margin: auto;}

.portlet.light .portlet-body
{
   	padding-top: 0px;
}
.control-label{
margin-top: 3px;
text-align: right;
margin-right: 0;
color: #00838f;}
.font-green-haze{color: #00838f;}
.input-icon.right > .form-control{
padding-right: 15px;
	margin-left:0;
}
/*Start Top Name section*/
#name-first{
	
	overflow: hidden;
}
#name-portlet{
	border: 1px solid rgba(68, 182, 174, 0.22);
	width: 85%;
	margin: auto;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
#name-search,#name-add{margin-top: 4px; 
	padding: 6px 9px;
	font-size: 12px;
}

.modal-body>.portlet{
	margin-bottom: 0px;
}
.modal .modal-header 
{border-bottom:1px solid rgba(68, 182, 174, 0.22);}
.modal-footer 
{border-top: 1px solid rgba(68, 182, 174, 0.22);}
/*End Top Name section*/

/*--------date picker-----*/
.btn.default:not(.btn-outline).active,
 .btn.default:not(.btn-outline):active, 
 .btn.default:not(.btn-outline):hover,
 .open>.btn.default:not(.btn-outline).dropdown-toggle{
 	color: #fff;
 	background-color: #32c5d2;
 	border-color: #32c5d2;

 }
 .btn.default:not(.btn-outline){
 	background-color: #00838f;
 	color: #fff;
 }
 .form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control{
  	background-color: rgba(124, 190, 196, 0.6);
  	border: none;
  	margin-top: 1px;
  	height: 32px;
  	color: #00555d;
  	margin-left: 0px;
  }
  
  .form-control
  {padding: 6px 6px;}

  .form-control::-moz-placeholder
  {
  	font-size: 12px;
  	opacity: 0.8;
  	color: #999;
  }
/*----radio buttons------*/
.md-radio-inline{margin: 5px 5px;}
.form-md-radios.has-success label
{
	color: #00838f;
}
.md-radio label > span.inc
{
	background: #eff5f4;
}
@-webkit-keyframes growCircleRadio
{
70% {
    background: #eff5f4;
    -webkit-transform: scale(1.25); } }
@-moz-keyframes growCircleRadio {
 70% {
    background: #eff5f4;
    -moz-transform: scale(1.25); } }
@keyframes growCircleRadio {
  70% {
    background: #eff5f4;
    transform: scale(1.25); } }

/*consangunity check box*/
.md-checkbox {margin-top: 10px;}
.md-checkbox label > .box{

	border: 2px solid rgba(0, 131, 143, 0.74);
}
.md-checkbox label > span.inc{background-color:#eff5f4;}
@-webkit-keyframes growCircle {
70% {
    background: #eff5f4;
    -webkit-transform: scale(1.25); } }
@-moz-keyframes growCircle {
 70% {
    background: #eff5f4;
    -moz-transform: scale(1.25); } }
@keyframes growCircle {
  70% {
    background: #eff5f4;
    transform: scale(1.25); } }

/* plus button */

#add{}
/*clear fix text-field in treatment & questions portlets*/
.text-clfix{width:80%;float:left; margin-right: 3px;}
/*table container for treatment &question sections */
.white{
	background-color: #fff;
	border:1px solid rgba(194, 202, 216, 0.95);	
	border-radius: 5px;
	margin-bottom: 10px;
}
/*select2 style*/
.select2-container--bootstrap 
.select2-selection--single 
.select2-selection__rendered
{color:#00555d}
.select2-results__option{color:#00555d}
.select2-container--bootstrap 
.select2-results__option--highlighted[aria-selected] 
 {background: #00555d;
}
.select2-container--bootstrap
 .select2-results__option[aria-selected="true"]
 {background-color:#eff5f4;
 	color:#00555d; }
 .select2-container--bootstrap.select2-container--focus 
 .select2-selection, .select2-container--bootstrap
 .select2-container--open .select2-selection
{border-color: rgba(0, 85, 93, 0.48);}

.select2-container--bootstrap.select2-container--open
 .select2-selection .select2-selection__arrow b
 {border-color: transparent transparent #00555d;}

 .select2-container--bootstrap .select2-selection--single 
 .select2-selection__arrow b 
 {border-color:#00838f transparent transparent ;}
 .select2-container--bootstrap .select2-selection--single 
 .select2-selection__placeholder{
 	font-size: 12px;
 	opacity: 0.8;
 }
 /*start service page style*/
 .light-container{
 	margin-bottom: 20px;
 	background-color:#f00;
 	overflow: hidden;}
 

/*-----------------------------*/

/*------history page---------*/
/* start history table*/
.table-bordered, .table-bordered > 
tbody > tr > td, .table-bordered > 
tbody > tr > th, .table-bordered > 
tfoot > tr > td, .table-bordered > 
tfoot > tr > th, .table-bordered >
 thead > tr > td, .table-bordered >
  thead > tr > th{ border: 1px solid rgb(232, 248, 250);}
.table thead tr th{
	color: #00838F;}
.table-hover > tbody > tr:hover{background-color: rgba(232, 248, 250, 0.35);}
.data-txt{ margin-top: 3px;
}
.div.dataTables_wrapper .div.dataTables_filter{
	text-align: right;
}
.btn.green-meadow:not(.btn-outline) a{
	color: #fff;
}
.btn.green:not(.btn-outline) a,.btn.red:not(.btn-outline) a
{
	color: #fff;
}

.btn.white:not(.btn-outline){padding: 4px 12px;
color:#32C5D2;}
/*end history table*/
/*Start patient history*/
.tabbable-custom{
	margin-bottom: 0px;
}
.tab-content
{padding: 20px;
border: 1px solid #ddd;
border-top: transparent;}
/*end patient history*/
/*service page*/
/*service-table*/
table.dataTable.no-footer{border-bottom: none;}
/*End service page*/
/*start visit details page*/
#show{							/*label for displaying complaint , investigation */
	width: 100%;
	border: 1px solid #c9e7e4;
	border-radius: 4px ;
	min-height: 50%;
	color: #00555D;
	padding: 6px;
	background-color: #fff;
	}
/*end visit details page*/
/*End page content style--------------------*/

/*-----------start footer-------------------*/
.copyright{text-align: center; color: #fafafa;}
/*-----------End footer-------------------*/

/*------start media-queries--------------*/
/*for extra small screen*/
@media only screen and (max-width: 320px) 
{
    body {font-size:12px;}
    .dropdown-menu-v2{font-size: 11px; min-width: 150px;}
    .dropdown-menu-v2 li a {font-size: 11px;text-align: center; padding: 5% 3%;}
    .page-header .navbar
     .navbar-nav > li > a {font-size: 14px;}
     /*#centeredmenu {
     	float: none;
     	width: 98%;
     	margin: auto;
     }*/
    .navbar-nav > li > a {line-height: 13px;}
	.input-group .form-control{font-size:12px;
	padding:3px;}
	
	
	.portlet.light > .portlet-title {min-height:auto;}
	.portlet.light > .portlet-title > 
	.caption > .caption-subject {font-size: 14px}
	.portlet > .portlet-title > .caption {line-height: 14px; font-size: 14px}
	.portlet.light > 
	.page-header.navbar.navbar-nav>li{width:100%;}
	.btn.green:not(.btn-outline){margin-top: 0px;}
	.table thead tr th {font-size: 11px;}
	.table td {font-size: 11px;}
	.btn.white:not(.btn-outline) {padding: 4px 8px;}
	.select2-container--bootstrap 
	.select2-selection {font-size: 11px;}
	#name-portlet{
	width: 100%;
	padding: 5px 0 5px 0;
	}
	.form-control[disabled], .form-control[readonly],
	 fieldset[disabled] .form-control {height: 29px;}

	*.*{font-size: 11px;}	
	.text-clfix{width: 100%}
	#add{margin-top: 5px;}
	.portlet > .portlet-title > .caption {font-size: 14px;}
	.btn {font-size: 11px;
		 padding: 6px 9px}
	.tab-content{padding: 0px;
		border:none;}
	.portlet > .portlet-body{
	   width: 100%;
	   }

	.portlet.light .portlet-body{
	   	padding-top: 5px;
	   }
	#name-search,#name-add{margin-top: 5px; margin-bottom: 5px;}
	.form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control{
  	background-color: rgba(124, 190, 196, 0.6);
  	border: none;
  	margin-top: 1px;
  	
  	color: #00555d;
  }
  .login-container {
  	width: 75%;
  }

}
@media only screen and (max-width: 317px) {
#add{margin-top: 7px;}
.text-clfix{width: 100%}
#name-portlet{
	width: 99%;
padding-top: 5px;
padding-bottom: 5px;}
	/*datepicker style*/
.form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control{
  	background-color: rgba(124, 190, 196, 0.6);
  	border: none;
  	margin-top: 2px;
  	
  	color: #00555d;
  }


}

@media only screen and (max-width: 991px){
.md-checkbox label > .box{margin-top: -4px;}
#centeredmenu ul li a{margin: 0;}
#name-portlet{

	width: 99%;
	padding: 5px 0 5px 0;
}

#name-search,#name-add{margin-top: 4px;
padding: 6px 9px}
.form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control{
  	background-color: rgba(124, 190, 196, 0.6);
  	border: none;
  	margin-top: 1px;
  	
  	color: #00555d;
  }
	.text-clfix{width: 100%}
	#add{margin-top: 5px;}
	
.form-control[disabled], .form-control[readonly],
	 fieldset[disabled] .form-control {}

}
@media only screen and (max-width: 1203px){
#name-portlet{
	width: 99%;
	padding-top: 5px;
	padding-bottom: 5px;
}


#name-search,#name-add{margin-top: 5px; margin-bottom: 5px;}
.form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control{
  	background-color: rgba(124, 190, 196, 0.6);
  	border: none;
  	margin-top: 1px;
  	
  	color: #00555d;
  }

.form-control[disabled], .form-control[readonly],
	 fieldset[disabled] .form-control {}
}

@media only screen and (max-width: 390px){

.pagination > li > a, 
.pagination > li > span {padding: 2px 4px;}
#name-portlet{
	width: 99%;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	#name-search,#name-add{margin-top: 4px;}

}


/*------end media-queries--------------*/
