	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/09/2016 13:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-size: 22px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bandage:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-heartbeat:before { content: "\f102"; }
.flaticon-icon-73111:before { content: "\f103"; }
.flaticon-laptop-profits-graphics:before { content: "\f104"; }
.flaticon-medical:before { content: "\f105"; }
.flaticon-medical-1:before { content: "\f106"; }
.flaticon-medical-history:before { content: "\f107"; }
.flaticon-medical-history-1:before { content: "\f108"; }
.flaticon-medical-report:before { content: "\f109"; }
.flaticon-medicine:before { content: "\f10a"; }
.flaticon-pill:before { content: "\f10b"; }
.flaticon-pills:before { content: "\f10c"; }
.flaticon-pills-1:before { content: "\f10d"; }
.flaticon-presentation:before { content: "\f10e"; }
.flaticon-stethoscope:before { content: "\f10f"; }
.flaticon-stethoscope-1:before { content: "\f110"; }
.flaticon-surgeon:before { content: "\f111"; }
.flaticon-syringe:before { content: "\f112"; }
.flaticon-thermometer:before { content: "\f113"; }
